html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************mis css****************************************************/

.bodyReloj {
  color: rgb(2, 9, 102);
}

.containerReloj {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
}

.reloj {
  width: 200px;
  height: 200px;
  padding: 20px;
  border: solid 2px aqua;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 30px;
  background-color: rgba(240, 233, 241, 0.479);
}

.hora {
  font-size: 30px;
}

.frase {
  margin-top: 20px;
  color: rgb(255, 0, 0);
  font-size: x-large;
  font-weight: bold;
}

/**contraseñas*/
.bodyContraseña {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.contraseñas {
  text-align: center;
}

input {
  width: 150px;
  height: 70px;
  font-size: 30px;
  text-align: center;
}

#btnPassword {
  width: 300px;
  height: 75px;
  font-size: 30px;
  text-align: center;
}

#contraseñaSegura {
  font-size: x-large;
  font-weight: bold;
  background-color: rgb(238, 18, 18);
  color: aliceblue;
  padding: 20px;
}

/*links*/
.bodyLinks {
  background-color: blueviolet;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30dvh;
}

.links input {
  width: 200px;
  font-size: small;
  height: 20px;
}

.lista {
  text-align: center;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
}

.lista li {
  background-color: darkgreen;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.lista li a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.lista button {
  background-color: rgb(255, 17, 17);
  padding: 5px;
  color: white;
}

#btnLink {
  padding: 5px;
  background-color: rgba(0, 110, 255, 0.767);
  top: 0;
}

@media (max-width: 370px) {
  #btnLink {
    margin-top: -80px;
  }

  .lista {
    width: 150px;
  }

  .lista li {
    padding: 5px;
  }

  .lista li a {
    font-size: 12px;
    font-weight: lighter;
  }
}

/*******tiempo***************************/
.bodyTiempo {
  background-color: aqua;
}

.tituloTiempo {
  position: sticky;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-right: 80px;
}

.tituloTiempo img {
  width: 10dvw;
}

.tituloTiempo h3 {
  font-size: x-large;
}

.lugar {
  margin-left: 200px;
  background-color: antiquewhite;
  line-height: 30px;
  padding: 20px;
}

.infoTiempo {
  background-color: antiquewhite;
  height: fit-content;
  width: 300px;
  line-height: 25px;
  margin: 20px;
  margin-left: 50px;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.porHoras {
  display: flex;
  align-items: center;
  margin-left: 20px;
  overflow-x: auto;
}

.hora {
  border: solid 1px black;
  padding: 10px;
  height: fit-content;
  margin: 10px;
  background-color: antiquewhite;
  line-height: 20px;
  letter-spacing: 1px;
}

/******principal*********/
html,
body {
  height: 100%;
  background-color: #51f1fc;
  background-color: linear-gradient(178deg, rgba(81, 241, 252, 0.59) 0%, rgba(24, 190, 219, 0.33) 15%, rgba(0, 212, 255, 1) 100%);
}

footer {
  width: 100%;
}

.enlacesFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 50px;
  background-color: black;
  padding: 10px;
}

.enlacesFooter a {
  color: white;
  text-decoration: none;
  font-size: larger;
}

.principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

.principalDos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -200px;
}

article.containerReloj {
  margin-top: -191px;
  margin-bottom: 100px;
  width: 400px;
}

.fecha {
  margin-top: -150px;
}

article {
  width: 400px;
}

.indexTiempo {
  margin-left: 150px;
}

/* ======= MODO MÓVIL ======= */
@media (max-width: 480px) {

  /* Texto más pequeño */
  body {
    font-size: 14px;
  }

  h1,
  h2,
  h3 {
    font-size: 18px;
  }

  .reloj {
    width: 140px;
    height: 140px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }

  .containerReloj,
  .bodyContraseña,
  .bodyLinks,
  .bodyTiempo {
    padding: 10px;
    justify-content: center;
  }

  .containerReloj {
    margin-bottom: 5px;
    height: auto;
    padding-bottom: 140px;
  }

  article.containerReloj {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  input {
    width: 120px;
    height: 50px;
    font-size: 20px;
  }

  #btnPassword {
    width: 200px;
    height: 60px;
    font-size: 22px;
  }

  .lista {
    margin-top: 40px;
  }

  .tituloTiempo {
    flex-direction: column;
    margin: 0;
    padding: 10px;
  }

  .tituloTiempo img {
    width: 25dvw;
  }

  .lugar,
  .infoTiempo {
    margin: 10px 0;
    width: 90%;
    font-size: 14px;
    padding: 10px;
  }

  .porHoras {
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    margin: 0;
  }

  .hora {
    width: 120px;
    font-size: 12px;
    padding: 5px;
    margin: 5px;
  }

  .enlacesFooter a {
    font-size: 14px;
  }

  article {
    width: 90%;
    margin: 0 auto;
  }

  .principal,
  .principalDos {
    justify-content: center;
    margin-top: 0;
  }
}